#add-student-form {
  font-size: 0.7rem;
  .form-title {
    font-size: 1.5em;
  }

  input,
  select {
    font-size: 0.9em;
  }

  .fullname,
  .age-country {
    .form-group {
      width: 45%;
    }
  }
}
