@font-face {
  src: url(../static/fonts/Kufam-Regular.ttf);
  font-family: kufam-regular;
}

@font-face {
  src: url(../static/fonts/Kufam-Bold.ttf);
  font-family: kufam-bold;
}

@font-face {
  src: url(../static/fonts/Assistant-Regular.ttf);
  font-family: assistant-regular;
}

@font-face {
  src: url(../static/fonts/Assistant-Bold.ttf);
  font-family: assistant-bold;
}

// Global Styles

html {
  box-sizing: border-box;
  font-size: calc(0.9em + 0.9vw);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-secondary;
}
